<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="bulma.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app">
      <nav class="navbar is-success" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
          <div class="navbar-brand">
            <a class="navbar-item" href="#">
              <figure class="tw-svg"><svg class="tw-svg__asset tw-svg__asset--logotwitch tw-svg__asset--inherit" width="94px" height="32px" version="1.1" viewbox="0 0 94 32" x="0px" y="0px"><path clip-rule="evenodd" d="M88,5h-6V0h-9l-6,5h-5.5L59,7.5V5h-5V0H36v5H16l-5-5H0v22l5,5.25L14,32h6v-1.5l3,1.5h12l2-3l1,3h7v-3l3,3h8l0.5-3l2.5,3h10l3-3v3h4l3-3v3h7l7-6V10L88,5z M13,13H8v6h5v6H6l-4-4V2h6v5h5V13z M36,21.5L32.5,25H15V7h6v12h2V7h6v12h2V7h5V21.5z M44,25h-6V7h6V25z M44,5h-6V2h6V5z M57,13h-5v6h5v6h-7l-4-4V2h6v5h5V13z M72,13h-7v6h7v6h-9l-4-4V11l4-4h9V13z M91,25h-6V13h-5v12h-6V2h6v5h7l4,4V25z" fill-rule="evenodd"></path></svg></figure>
            </a>
          </div>
          <a class="navbar-item" href="#">
            Home
          </a>
        </div>
      </nav>
      
      <section class="section columns is-centered">
        <div class="columns column is-12 "
        <div class="columns column is-10 is-centered">
          <div class="is-4 column">
            <div class="box">
            </div>
            <div class="caption">
              Fortnite<br>
              0 players
            </div>
          </div>
          
          <div class="is-4 column column-item">
            <div class="box is-collapsed">
              <img src="https://static-cdn.jtvnw.net/ttv-boxart/Fortnite-272x380.jpg">
            </div>
            <div class="caption">
              <b>Fortnite</b><br>
              0 Channels
            </div>
          </div>
          
          <div class="is-4 column">
            <div class="box">
            </div>
            <div class="caption">
              Fortnite<br>
              0 players
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- import the webpage's client-side javascript file -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
