<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
          <div class="navbar-brand">
            <a class="navbar-item" href="#">
              <!--img src="https://cdn.glitch.com/efe6e070-2c1d-436d-9464-ff6641eae224%2Fnot.png?1523850450648" width="46px"><img src="https://cdn.glitch.com/efe6e070-2c1d-436d-9464-ff6641eae224%2Fdash.png?1523850805355"--><img src="https://cdn.glitch.com/efe6e070-2c1d-436d-9464-ff6641eae224%2Ftwitch-text.png?1523848327311" alt="Not Twitch TV">
            </a>
          </div>
          <a class="navbar-item" href="#">
            Home
          </a>
        </div>
        <div class="navbar-end">
          
        </div>
      </nav>
      <section></section>
    </div>
    
    <!-- import the webpage's client-side javascript file -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
