.tw-svg {
  fill: white;
  padding-top: 5px;
}

.section {
  margin: 0 !important;
}

.title {
  margin: 0 !important;
  text-align: center;
}

.is-wide {
  width: calc(100% - 50px) !important;
}

.caption {
  text-align: center;
}

.column-item {
  border-radius: 5px;
  transition: background-color 0.1s;
  -webkit-transition: background-color 0.1s;
}

.column-item:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.box.is-collapsed {
  padding: 0 !important;
  overflow: hidden;
  max-width: 272px;
  max-height: 345px;
  margin: 10px auto;
}

.box.is-padded {
  padding: 50px;
}

.icon {
    display: inline;
}