.tw-svg {
  fill: white;
  padding-top: 5px;
}

/*@media screen and (max-width: 500px) {
  .tw-svg {
    fill: #6441a4;
    padding-top: 5px;
  }
} */

.super-hero {
  height: 100vh;
}

.super-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrap {
  opacity: 0;
  transition: all 2s;
}

.section {
  margin: 0 !important;
  padding: 20px;
}

.search-group {
  margin-top: 90px;
}

.dropdown-container {
  display: inline-block;
  vertical-align: middle;
}

.title {
  margin: 0 !important;
  text-align: center;
}

.is-wide {
  width: calc(100% - 50px) !important;
}

.caption {
  text-align: center;
}

.column-item {
  border-radius: 5px;
  transition: background-color 0.1s;
  -webkit-transition: background-color 0.1s;
}

.column-item:hover {
  background-color: #ededed;
  cursor: pointer;
}

.box.is-collapsed img {
  display: inline-block;
  width: 144px;
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-color: #eee;
  animation: animate-bg infinite alternate-reverse;
  -webkit-animation: animate-bg infinite alternate-reverse;
}

.box.is-collapsed {
  text-align: center;
  padding: 10px !important;
  overflow: hidden;
  margin: 10px auto;
}

.box.is-collapsed-stream img {
  display: inline-block;
  background-position: center center;
  width: 320px;
  height: 180px;
  background-size: cover;
  background-color: #eee;
  animation: animate-bg infinite alternate-reverse;
  -webkit-animation: animate-bg infinite alternate-reverse;
}

.box.is-collapsed-stream {
  display: inline-block;
}

@keyframes animate-bg {
  from { background-color: #eee; }
  to { background-color: #aaa; }
}

@-webkit-keyframes animate-bg {
  from { background-color: #eee; }
  to { background-color: #aaa; }
}

.box.is-collapsed-icon {
  padding: 0 !important;
  overflow: hidden;
  max-width: 50px;
  max-height: 50px;
  margin: 10px auto;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.is-stream-title-holder {
  position: relative;
  top: -14px;
  padding-left: 10px;
  display: inline-block;
}

.is-stream-title {
  display: inline;
}

.box.is-padded {
  padding: 30px;
  margin: 20px;
}

.icon {
    display: inline;
}

.navbar {
  box-shadow:0 2px 10px 2px #00000033;
}

.navbar-end {
  padding: 15px;
}

.navbar-end input {
  margin-right: 5px;
  max-width: calc(100% - 60px);
}
